/* Style the tab buttons */
.tablink {
	background-color: #555;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
  }
  
  /* Change background color of buttons on hover */
  .tablink:hover {
	background-color: #0dd1a7;
  }
  
  /* Set default styles for tab content */
  .tabcontent {
	color: white;
	display: none;
	padding: 50px;
	text-align: center;
  }
  
  /* Style each tab content individually */
  #London {background-color:rgb(219, 26, 26);}
  #Paris {background-color:rgb(23, 131, 23);}
  #Tokyo {background-color:rgb(32, 32, 219);}
  #Oslo {background-color:rgb(212, 148, 30);}
  